@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.container {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}
.img{
  margin-left: 4vw;
  height: 45px;
}